  @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

body {
    background-color: hsl(212, 45%, 89%) ;
    display: flex ;
    justify-content: center;
    align-items: center;
    height: 100hv;
    font-family: 'Outfit', sans-serif;
}